* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica", "Arial", serif;
    color: rgba(0,0,0,1);
    background-image: url("../texture/background.png");
    background-repeat: repeat;
    margin: 15px;
}

.content {
    margin: auto;
    width: 1080px;
    height: 93vh;
}

header{
    width: 100%;
    height: 15%;
}
.header_img{
    width: 100%;
    height:100%;
}


nav{
    float: left;
    width: 20%;
    height: 85%;
    background-image: url("../texture/splitter.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
nav ul {
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Times new Roman";
    font-size: 1.2vw;
    color:rgba(0,0,0,0.7);
    padding: 0 10%;
}
nav li {
    -moz-user-select:none;/*firefox*/
    -webkit-user-select:none;/*webkit*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*Early explorers*/
    user-select:none;
    
    text-align:center;
    padding: 5px;
    border-right: 2px solid rgba(0,0,0,0.5);
    border-bottom: 2px solid rgba(0,0,0,0.5);
    border-radius:12px;
    background-color:rgba(255,255,255,0.2);
}

display{
    display: block;
    float: left;
    width: 80%;
    height: 85%;
    /*background-color: bisque;*/
}
#display_region{
    width:100%;
    height:75%;
    /*background-color:azure;*/
}
.previous_image{
    float:left;
    height:100%;
    width:12%;
}
.next_image{
    float:left;
    height:100%;
    width:12%;
}
.large_image_div{
    float: left;
    text-align:center;
    height:100%;
    width:76%;
}
.large_img_img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 92%;
    max-height:88%;
    border: 10px solid rgba(255,255,255,0.5);
}
#large_img_description{
    display:none;
    padding:20px;
    text-align:left;
    font-family: "Arial";
    font-size: 1.2 vw;
    font-style:italic;
    background-color: rgba(250,250,180,0.7);
    border-radius: 2px;
    border-right: 2px solid rgba(100,100,70,0.5);
    border-bottom: 2px solid rgba(150,150,100,0.5);
    position:absolute;
    width:260px;
    height:70px;
    z-index:2;
    left:58%;
    top:60%;
}

.thumb_region{
    float:left;
    padding-top:2%;
    width:100%;
    height:20%;
    /*background-color:aqua;*/
}
.previous_thumb_img{
    float:left;
    max-height:100%;
    padding-top:4%;
    width:5%;
}
.next_thumb_img{
    float:left;
    max-height:100%;
    padding-top:4%;
    width:5%;
}


#thumb_img_div{
    border-left: 3px solid rgba(0,0,0,0.5);
    border-right: 3px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    float: left;
    position: relative;
    white-space: nowrap;
    overflow: hidden;

    height:100%;
    width:89%;
}

#thumb_img_div img{
    max-height: 100%;
    max-width: 20%
    margin-top: 8px;
    border: 7px solid rgba(255,255,255,0.5);
}
#thumb_img_div ul{
    height:100%;
}
#thumb_img_div li {
    height: calc(100% - 14px);
    display: inline-block;
    padding-right: 20px;
    list-style: none;
}

aboutMe{
    display: none;
    float: left;
    width: 80%;
    height: 85%;
    background-image: url("../texture/corner.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
aboutMe p{ 
    font-family:"Times New Roman";
    margin-top:3%;
    margin-right:15%;
    padding-left:5%;
    padding-right:5%;
    border-radius:80px;
    font-size:1.5vw;
    background-color: rgba(255,255,255,0.5);
}